   {{!-- Teste HTML -> Criar pagina para configurar --}}
    <form action="/enviodados" method="POST">
        <p>Nome</p><input type="text" name="nome">
        <p>Sobrenome</p><input type="text" name="sobrenome">
        <button type="submit">Cadastrar</button>
    </form>